html, body {
  margin: 0;
  padding: 0;
  background: lightgrey;
  font-family: Arial;
  font-size: 130%;
}

h1 {
  color: white;
  background: linear-gradient(90deg, rgb(43, 43, 43) 0%, rgb(29, 29, 29) 100%);
  text-align: center;
  padding: 25px;
}

p {
  text-align: center;
  font-size: 100%;
}

.input-element{
  height: 200px;
  width: 400px;
}